body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
main{
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.hero {
    text-align: center;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.featured-products {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    margin-top: 10px;
}

.enquiry-form {
    padding: 20px;
}

.enquiry-form form {
    max-width: 500px;
    margin: 0 auto;
}

.enquiry-form label {
    display: block;
    margin-bottom: 10px;
}

.enquiry-form input,
.enquiry-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.enquiry-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.about-section {
    padding: 20px;
}

.about-section a{
    color: black;
}

.about-section h3 {
    margin-top: 20px;
}

.about-section ul {
    margin-top: 10px;
}

.about-section ul li {
    margin-bottom: 5px;
}


/* Styles for tablets (screen width 768px and below) */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featured-products {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 80%;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}

/* Styles for mobile devices (screen width 480px and below) */
@media (max-width: 480px) {
    header {
        text-align: center;
        padding: 10px;
    }

    .hero {
        font-size: 1.2em;
    }

    .product {
        width: 100%;
    }

    .enquiry-form form {
        width: 100%;
        padding: 10px;
    }

    .about-section {
        padding: 10px;
    }
}
